body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    text-align: center;
    color: darkslateblue;
    text-shadow: 2px 1px black;

}
h1{
    font-size: 100px;
    color:whitesmoke;
}
h2{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

p{
    font-size: 30px;
}

#box{
    background-image: linear-gradient(rgba(255, 0, 0, .5), rgba(255, 255, 0, .5) );
    padding-bottom: 10px;
}